

body{
    font-family: sans-serif;
    padding: 10px;
    margin: 10px;
   
}

.Info{
    background-color: rgb(233, 233, 219);
}


@media only screen and (max-width: 481px ){
    .navegador{
        flex-wrap: wrap;
    }
    .imagen{
    display: none;  
}}

h1{
    color: red;
}

img{
    width: 400px;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    
}



#redesSociales{
   text-align: center;
}

table{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}