*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(233, 229, 229);
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 20px;
}

.body {
    /* background: linear-gradient(#217e9b, #40a3ca); */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #005687 0%, #005687 95%);
}
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: rgb(72, 107, 160);
    margin-top: 30px;
    margin-bottom: 50px;
    border: wheat 2px solid;
    font-size: 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #39799B 0%, #006486 95%);
}



.contenedorb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
    background-color: rgb(72, 107, 160);
    margin-top: 50px;
    border-top: wheat 2px solid;
    font-size: 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #39799B 0%, #006486 95%);
}

.contenedorc {
    text-align: center;
    width: 100%;
    height: 70px;
    background-color: rgb(72, 107, 160);
    border-bottom: wheat 2px solid;
    font-size: 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #39799B 0%, #006486 95%);
}

.fontVS {
    font-size: 100px;
}

.contenedord {
    display: flex;
    justify-content: center;
}

.sub-contenedor p{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.izq {
    padding-left: 40px;
}

.der {
    padding-right: 40px;
}

.boton {
    background-color: #48c526;
    width: 200px;
    height: auto;
    font-size: larger;
    margin-top: 20px;
    padding: 20px;
    border: #48c526;
    border-radius: 50px;
    border: outset;
}

.boton:active {
    background-color: #3fa024;
}

.boton:hover{
    background-color: #366927;
    color: rgb(202, 204, 200);
    border: inset;
}